<div class="login-container">
  <mat-card class="login-card">
    <h1 class="login-title">Login</h1>

    <form class="controls" [formGroup]="loginForm">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
        @if(loginControl.hasError('email')){
        <mat-error>Not email format</mat-error>
        } @if(loginControl.hasError('required')){
        <mat-error>Email is required</mat-error>
        }
        <mat-hint>nurlan...</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        @if(passwordControl.hasError('required')){
        <mat-error>Password is required</mat-error>
        }

        <input
          matInput
          placeholder="Password"
          [type]="showPassword ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <mat-icon matSuffix (click)="showPassword = !showPassword">{{
          showPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-hint>1234...</mat-hint>
      </mat-form-field>
      <app-save-btn
        [isDisabled]="loginForm.invalid"
        (onClick)="login()"
        [isDisabled]="isButtonDisabled()"
        class="save-btn"
      >
        Submit</app-save-btn
      >
    </form>
  </mat-card>
</div>
