.toast-container {
}

.toast {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.toast.success {
  background-color: #28a745;
}

.toast.error {
  background-color: #dc3545;
}

.toast.info {
  background-color: #17a2b8;
}

.toast.warning {
  background-color: #ffc107;
}
