.wrapper {
  display: flex;
  flex-direction: column;

  .content {
    padding: 20px;
    flex: 1 0 auto;
    min-height: 81.5vh;
  }

  .footer {
    flex-shrink: 0;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
}
