.todos-wrapper {
  padding: 20px;
  .todos {
    display: flex;
    flex-wrap: wrap;
  }
  .controls {
    display: flex;
    justify-content: flex-end;
  }
  .total {
    color: var(--light-blue);
    font-size: 20px;
  }
}
