/* You can add global styles to this file, and also import other style files */

:root {
  --green: #63c87d;
  --red: #ea5455;
  --light-blue: #3f51b5;
  --orange: #ffbf00;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
